<form action="/result" method="GET">
  <input type="text" placeholder="input URL here">
  
  <div class="url-button">
    <button type="submit" class="btn btn-outline-primary shorten">shorten</button>
  </div>
</form>
