<form action="/result" method="GET">
  <h2>Success!Please use this link:</h2>
  <p>http://localhost:3000</p>
  
  <div class="url-button">
    <button class="btn btn-primary copy">Copy</button>
    <a href="/" class="btn btn-secondary back">Back</a>
  </div>
</form>