<form>
  <h2>Success!Please use this link:</h2>
  <a href="http://localhost:3000/urls/{{ code }}" target="_blank" id="copyText">http://localhost:3000/urls/{{ code }}</a>

  <div class="url-button">
    <button class="btn btn-primary copy" onclick="copyLink()">Copy</button>
    <a href="/" class="btn btn-secondary back">Back</a>
  </div>
</form>
